body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(34, 34, 34, 0) no-repeat fixed;
}

.App {
  position: relative;
  min-height: 100vh;
}

.content {
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.category-image {
  width: 48px;
}

.category-link {
  /*border: 2px solid rgba(84, 84, 84, 0.69);*/
  /*border-radius: 3%;*/
}

.category-link-clicked {
  background: rgba(255, 72, 0, 0.56);
  /*border: 2px solid rgba(84, 84, 84, 0.69);*/
  /*border-radius: 3%;*/
}

.categories-holder {
  border: solid 1px gray;
}

html {
  background: url("images/tesla1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.form-group-custom {
  margin-bottom: 0.3rem;
}

.queries-holder {
  background: rgba(212, 212, 212, 0.9);
  padding-bottom: 0.5rem;
}

label {
  margin-bottom: 0.1rem;
}

.text-holder {
  height: 100%;
}

.btn-no-radius {
  border-radius: 0;
}

.thumbs {
  max-height: 165px;
  max-width: 215px;
  width: auto;
}

.img-holder-card {
  width: 260px;
}

 /*navbar start*/

.navbar {
  background-color: #0000008c;
}

.top-nav-collapse {
  background-color: #0000008c;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #0000008c;
  }
}

  /*navbar end*/

  /*footer start*/

.footer {
  background: #0000008c;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
}

  /*footer end*/